@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body{
   
    width: 100vw;
    height: 100vh;
    background: #212529;
    font-family: 'Alata', sans-serif;
}

.game-container{
    width: 960px;
    margin: 0 auto;
    margin-top: 10px;

    h1{
        font-size: 3em;
        color: white;
        text-align: center;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;


        button{
            margin: 10px;
            background: #364aaf;
            border: none;
            padding: 15px 30px;
            color: white;
            border-radius: 10px;
            font-family: 'Alata', sans-serif;

        }
    }
}

.game-hud{

    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    .rgb-to-guess{
        font-size: 1.6em;
        text-align: center;
    }

    .score-display{
        height: 120px;
        width: 120px;
        border-radius: 10px;
        background: #2a2e32;
        font-size: 3em;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .game-feedback{
        display: block;
        color: #eee;
        height: 30px;
        font-size: 1.6em;
        margin-top: 20px;

        &.correct{
            color: #20ff7e;
        }
        &.wrong{
            color: #fd413c;
        }
    }
}

#generated{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 3px;
    border: 1px solid #eee;
}

.squares-container{
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    width: 480px;
    height: auto;

    .square{
        width: 120px;
        height: 120px;
        border-radius: 100px;
        box-sizing: border-box;
        background-color: rgb(255,0,0);
        margin: 10px;
        border: 5px solid #4e5358;

        display: block;
        justify-content: center;
        align-items: center;

        &:hover{
            border: 5px solid #fff;
            transform: translateY(-3px);
        }

        &.selected{
            transform: translateY(0px);
        }
    }
}